-var navLinks = [{href:'#', name: '1'},{href:'google.com', name: '5'}]

mixin navLink(link, name, last)
  li
    if(last)
      a(href=link).nav-link.last-link=name
    else 
      a(href=link).nav-link=name

header
  .header
  ul.nav
    +navLink('google.com', '1')
    +navLink('#', '2')
    +navLink('#', '3')
    +navLink('#', '4', true)
    for i in navLinks
      li
        a(href=i.href).nav-link=i.name