doctype html
html(lang="fr")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title Pearson
    link(rel="preload" href="fonts/opensans-regular.woff2" as="font" crossorigin="anonymous")
    link(rel="preload" href="fonts/opensans-semibold.woff2" as="font" crossorigin="anonymous")
    link(rel="preload" href="fonts/playfairdisplay-regular.woff2" as="font" crossorigin="anonymous")
    link(rel="stylesheet" href="glide/glide.core.min.css")
    link(rel="stylesheet" href="css/style.min.css")

  body
    include ../modules/header

    main(class="home-page")
      h1(class="visually-hidden") entreprise d'éducation internationale
      section(class="home-page__landing-promo landing-promo wrap")
        include ../modules/landing-promo
      div(class="home-page__content-slider content-slider")
        include ../modules/content-slider
      section(class="home-page__content-reviews content-reviews wrap")
        include ../modules/content-reviews
      section(class="home-page__advantage advantage")
        include ../modules/advantage
      div(class="home-page__provoke provoke")
        include ../modules/provoke

    include ../modules/footer
    include ../modules/form
    include ../modules/popup-video

    script(src="js/polyfill.min.js")
    script(src="js/jquery-2.2.3.min.js")
    script(src="glide/glide.min.js")
    script(src="js/script.js")
    
    script(type='text/javascript' defer) new Glide('.glide', {type: 'carousel',startAt: 0, perView: 3, gap: 30, autoplay: 4000, animationTimingFunc: 'cubic-bezier(.36,.39,.31,1.02)', dragThreshold: 50, animationDuration: 1000, breakpoints: { 1100: {perView: 2 },550: {perView: 1}},}).mount();
