doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title MYiLA test-task
    link(rel="stylesheet" href="css/style.min.css")

  body
    include ../modules/header

    main.home-page
      h1.home-page__title Тестовое задание "Сортировка карточек товаров"
      section.home-page__product.product
        include ../modules/product

    include ../modules/footer

    script(src="js/script.js")