.content-page {
  .provoke__item--contact,
  .provoke__item--video,
  .important__message--landing {
    display: none;
  }
}

.content-page__cover {
  margin-top: -7px;
  position: relative;
  height: 415px;
  width: 100%;
  margin-bottom: 90px;

  &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: #0f0f0f;
      opacity: .38;
    }
}

.content-page__title {
  max-width: 790px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 400;
  font-family: $font-accent;
  font-size: 32px;
  line-height: 52px;
  margin: 0 auto;
  margin-bottom: 70px;
  color: $blue-black;
}

.content-page__desc {
  max-width: 790px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  margin-bottom: 80px;
}

.content-page__important {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $blue-light;
  margin-bottom: 80px;
}

.content-page__infographics {
  padding-top: 75px;
}

@media (min-width: 600px) {
  .content-page__cover {
   height: 400px;
  }
}

@media (min-width: $tablet-width) {
  .content-page__title {
    padding-left: 50px;
    padding-right: 50px;
    font-size: 52px;
    line-height: 62px;  
  }

  .content-page__desc {
    padding-left: 50px;
    padding-right: 50px;
    font-size: 18px;
    line-height: 24px;   
  }
}

@media (min-width: 1360px) {
  .content-page__cover {
    overflow: hidden;
    height: 415px;
    & img {
      position: absolute;
      width: auto;
      height: 100%;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      transform: none;
    }
  }
}