.content-slider {
  background-color: $light-bg;
  padding-top: 50px;
  padding-bottom: 70px;
}

.content-slider__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.content-slider__item {
  margin-bottom: 40px;
  background-color: $white;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .25);

  img {
    width: 100%;
  }
}

.content-slider__title {
  font-weight: 400;
  margin-top: 0;
  font-size: 24px;
  line-height: 34px;
  font-family: $font-accent;
  color: $blue-black;
}

.content-slider__desc {
  color: #474747;
}

.content-slider__link {
  display: block;
  padding-top: 15px;
  text-transform: uppercase;
  font-weight: 600;
  color: $green;
}

.content-slider__wrap-desc {
  max-width: 85%;
  padding: 20px;
  padding-bottom: 35px;
}

.content-slider__wrap-pointer {
  display: flex;
  justify-content: center;
  height: 14px;

}

.content-slider__pointer {
  border: solid 1px #969696;
  border-radius: 50%;
  margin-left: 10px;
  margin-right: 10px; 
  color: #000;
}

.glide__bullet--active {
  transition: 0.3s;
  background-color: $blue-dark;
  border-color: $blue-dark;
}

@media (min-width: $tablet-width) {
  .content-slider__list {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    overflow-x: auto;
  }

  .content-slider__item {
    max-width: 47%;
    flex-shrink: 0;
    margin-right: 40px;

  }

  .content-slider__item {
    max-width: 47%;
    flex-shrink: 0;
    margin-right: 40px;
  }

  .content-slider__link {
    font-size: 13px;
  }
}

@media (min-width: 1200px) {
  .content-slider__title {
    font-size: 24px;
    line-height: 24px;
  }

  .content-slider__item {
    max-width: 31%;
  }
}

@media (min-width: 1440px) {
  .content-slider__wrap {
    width: 1340px;
    margin: 0 auto;
  }
}