.form {
  position: relative;
  @include popup;
  z-index: 2;
  padding-top: 15px;

  & input {
    @include input;
    margin-bottom: 15px;

    &.invalid {
      box-shadow: 0 0 0 1px $red;
    }
  }

  &--open {
    display: block;
  }

  &--close {
    display: none;
  }

  &--video {
    .form__desc--video {
      display: block;
    }
  }

  &--contact {
    .form__desc--contact {
      display: block;
    }
  }
}

.form__wrap {
  // position: absolute;
  // left: 50%;
  // top: 50%;
  // transform: translate(-50%, -50%);

  position: relative;
  padding: 20px;
  padding-top: 50px;
  padding-bottom: 20px;
  background-color: white;
  text-align: center;
  width: 100%;
  max-width: 930px;
  margin: 0 auto;
}

.form__title {
  font-size: 22px;
  line-height: 1.3em;
  margin-bottom: 15px;
  margin-top: 0;
}

.form__desc {
  display: none;
  max-width: 80%;
  margin: 0 auto;
  margin-bottom: 30px;
}

.form__form {
  max-width: 530px;
  margin: 0 auto;
}

.form__close {
  @include close-btn;
  position: absolute;
  right: 0;
  top: 0;
}

.form__submit {
  @include btn;
  background-color: $green;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 15px;
  font-size: 14px;
}

.form__privacy {
  text-align: left;
  position: relative;
  display: block;
  margin-right: 0;
  margin-left: auto;
  font-size: 9px;
  width: 100%;
  max-width: 510px;
  padding-left: 25px;
  color: #c9c9c9;
  transition: 0.6s;

  &::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    left: 0;
    top: 0;
    box-shadow: 0 0 0 1px #797979;
  }

  &.invalid::before {
    box-shadow: 0 0 0 1px $red;
  }
}

.form__privacy::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 0px;
  transform: rotate(-45deg);
  width: 17px;
  height: 7px;
  border: solid 3px $blue-dark;
  border-right: none;
  border-top: none;
  transition: 0.6s;
  opacity: 0;
}

.form__privacy-checkbox:checked~.form__privacy::after {
  opacity: 1;
}

@media (max-width:380px) {
  .form {
   padding-top: 10px;
   padding-left: 10px;
   padding-right: 10px;
  }

  // .form__wrap {
  //   margin-left: 0;
  //   margin-right: 0;
  // }

  .form__submit {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 12px;
  }
}

@media (min-width:$tablet-width) {

  .form__wrap {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 50px;
  }

  .form__form {
    max-width: 570px;
  }

  .form__submit {
    padding-top: 27px;
    padding-bottom: 27px;
  }

  .form__close {
    transform: scale(1.3);
    top: 8px;
    right: 8px;
  }

  .form__title {
    font-size: 35px;
    line-height: 1.3em;
    margin-bottom: 20px;
  }

  .form__privacy {
    font-size: 11px;
    max-width: 570px;
    margin: 0;
  }
}