.home-page {

  .provoke__item--video,
  .provoke__item--external {
    display: none;
  }

  & .landing-promo__wrap--landing {
    display: none;
  }

  .home-page__title {
    margin: 0 auto;
    max-width: 1340px;
    width: 85%;
    text-align: center;
    margin-bottom: 50px;
  }

  @media (min-width: $tablet-width) {
    .wheel-promo__item {

      &:hover,
      &:focus {
        & .wheel-promo__tooltip {
          display: block;
        }
      }
    }
  }
}

@media (min-width: 1440px) {
  .home-page__content-reviews {
    width: 1340px;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
  }

}