.important {
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: $white;
  text-align: center;
}

.important__message {
  max-width: 80%;
  padding: 0;
  margin: 0 auto;

  font-size: 28px;
  line-height: 38px;
  font-family: $font-accent;
  color: $blue-dark;
}

@media (min-width: $tablet-width) {
  .important {
    padding-left: 50px;
    padding-right: 50px;
  }

  .important__message {
    max-width: 880px;
   font-size: 32px;
   line-height: 45px;
  }
}
