.landing-promo {
  padding-left: 0;
  padding-right: 0;
  padding-top: 40px;
  background-repeat: no-repeat;

  @media (max-width: $tablet-width) {
    margin: 0;
  }

  .home-page & {
    background-image: url(../img/home-page/home-cover-bg.png);
    background-size: 300px;
    background-position: 100% -10%;

    @media (min-width: 390px) {
      background-image: url(../img/home-page/home-cover-bg.png);
      background-size: 300px;
      background-position: 94% -66px;
    }

    @media (min-width: 570px) {
      background-size: 300px;
      background-position: 94% -66px;
    }

    @media (min-width: 790px) {
      background-size: 350px;
      background-position: 100% -116px;
    }

    @media (min-width: 900px) {
      background-size: 400px;
      background-position: 37% 17px;
    }

    @media (min-width: 1120px) {
      background-size: 490px;
      background-position: 33% 0;
    }

    @media (min-width: 1250px) {
      background-size: 495px;
      background-position: 38% 100px;
    }

    @media (min-width: 1440px) {
      background-size: 580px;
      background-position: 33% 13px;
    }
  }

  .landing-page & {
    background-image: url(../img/landing/landing-bg.png);
    background-size: cover;
    background-position: 48% -64px;

    @media (min-width: 690px) {
      background-size: 90%;
      background-position: 170px -75px;
    }

    @media (min-width: 785px) {
      background-size: 90%;
      background-position: 200px -100px;
    }

    @media (min-width: 840px) {
      background-size: 90%;
      background-position: 210px -120px;
    }

    @media (min-width: $tablet-width) {
      background-size: 90%;
      background-position: -100% 50%;
    }
  }
}

.landing-promo__wrap--landing {
  .wheel-promo__tooltip {
    display: block;
    position: static;
    margin-bottom: 20px;
  }
}

.landing-promo__highlight {
  color: $green;
}

.landing-promo__desc {
  margin-bottom: 30px;
  color: #474747;
}

.landing-promo__btn {
  @include btn;
  max-width: 145px;
  margin-right: 5px;

  &--blue {
    background-color: $blue-dark;
  }

  &--green {
    background-color: $green;
  }
}

.landing-promo__wrap {
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.landing-promo__title {
  font-family: $font-main;
  font-size: 36px;
  line-height: 46px;
  font-weight: 400;
  color: #474747;
  margin-top: 0;

  @media (min-width: 560px) {
    max-width: 490px;
  }
}

.landing-promo__desc {
  max-width: 320px;
}

.landing-promo__wrap-buttons {
  max-width: 310px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.landing-promo__wheel {
  padding: 0;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .landing-promo {
    display: flex;
    justify-content: space-around;
    padding-top: 200px;
    padding-bottom: 200px;
    height: auto;
  }
  .landing-promo__title {
    padding-top: 8%;
    .landing-page &{
      padding-top: 0;
    }
  }

  .landing-promo__wrap--landing {
    .wheel-promo__tooltip {
      width: auto;
      text-align: center;
      max-width: 300px;
      display: block;
      position: static;
      margin-bottom: 20px;
      font-size: 14px;
      line-height: 14px;
    }
  }

  .landing-promo__desc {
    max-width: 550px;
    margin-bottom: 50px;
  }

  .landing-promo__wrap {
    width: 60%;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .landing-promo__wheel {
    width: 40%;
  }

  .landing-promo__wrap-buttons {
    max-width: 460px;
    flex-wrap: wrap;
  }

  .landing-promo__btn {
    max-width: none;
    max-width: 213px;
  }
}

@media (min-width: 1250px) {

  .landing-promo__title {
    max-width: 668px;
    font-size: 52px;
    line-height: 71px;
  }
}