.landing-media {
margin-bottom: 70px;
padding-top: 60px;
}

.landing-media__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 40px;
}

.landing-media__title {
  display: block;
  max-width: 700px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  font-family: $font-accent;
  font-size: 28px;
  line-height: 38px;
  font-weight: 400;
  color: $blue-dark;
  margin-bottom: 50px;
}

.landing-media__desc {
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  max-width: 700px;
  margin-bottom: 50px;
}

.landing-media__btn {
  @include btn;
  max-width: 160px;
  background-color: $green;
}

.landing-media__wrap-video {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 30px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $white;
    opacity: .44;
    pointer-events: auto;
    transition: 0.6s;
  };
}

.landing-media__video {
  width: 100%;
}

.landing-media__play-btn {
  @include play-button;
  opacity: 1;
  pointer-events: auto;
  transition: 0.6s;
}

@media (min-width: $tablet-width) {

  .landing-media__wrap {
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
    padding-right: 50%;
    &::before{
      max-width: 581px;
    }

    @media(min-width: 1370px) {
      padding-right: 637px;
    }
  }

  .landing-media__title {
    max-width: 510px;
    padding: 0;
    font-size: 48px;
    line-height: 70px;
  }

  .landing-media__desc {
    max-width: 510px;
    padding: 0;
  }

  .landing-media__btn {
    max-width: 210px;
  }

  .landing-media__wrap-video {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    max-width: 600px;
    width: 45%;
    margin-bottom: 0;
  }

  .landing-media__play-btn {
    transform: translate(-50%, -50%) scale(1.15);
  }

  .landing-media__video {
    margin: 0;
  }
}