.popup-video {
  @include popup;
  
  z-index: 3;
  &--close{
    display: none;
  }
  &--open{
    display: block;
  }
}

.popup-video__wrap {
  position: relative;
  max-width: 920px;
  padding: 7px;
  background-color: $white;
  margin: 0 auto;

  &::before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $white;
    opacity: .44;
    pointer-events: auto;
    transition: 0.6s;
  };
}

.popup-video__close {
  @include close-btn;
  position: absolute;
  background-color: $white;
  right: 0;
  top: 0;

  &:hover,
  &:focus {
    background-color: $dark-bg;
  }

  &:active {
    background-color: $text-light;
  }
}

.popup-video__play {
  @include play-button;
  z-index: 1;

}

.popup-video__video {
  position: relative;
  width: 100%;
  height: auto;
}