.product {
  background-color: $light-bg;
  padding-top: 50px;
  padding-bottom: 110px;
  text-align: center;
}

.product__title {
  font-weight: 400;
  font-family: $font-accent;
  line-height: 37px;
  font-size: 28px;
  margin-bottom: 70px;
  color: $blue-black;
}

.product__title-desc {
  font-family: $font-main;
}

.product__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (max-width: 410px) {
    justify-content: space-between;
  }

  @media (max-width: 390px) {
    justify-content: center;
  }

  @media (min-width: 1200px) {
    justify-content: flex-start;
  }
}

.product__filter-buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 1340px;
  width: 85%;
  text-align: center;
  margin-bottom: 50px;
}

.product__filter-btn {
  @include btn;
  background-color: $blue-dark;
  max-width: 200px;
  margin-right: 10px;

  &.active {
    background-color: $green;
  }
}

.product__item {
  width: 48%;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  padding: 20px;
  border-radius: 23px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: $white;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .25);

  @media (max-width: 410px) {
    margin-right: 0;
    width: 176px;
  }

  @media (min-width: 1000px) {
    text-align: left;
  }

  @media (min-width: 1200px) {
    max-width: 32%;
    margin-right: 2%;

    &:nth-child(3n) {
      margin-right: 0;
    }

  }
}

.product__num {
  display: flex;
  align-self: flex-start;
  align-items: center;
  justify-content: center;
  padding-bottom: 5px;
  width: 82px;
  height: 82px;
  margin: 0 auto;
  margin-bottom: 20px;
  border-radius: 50%;

  font-family: $font-accent;
  line-height: 35px;
  font-size: 26px;
  color: $blue-dark;
  background-color: #f7f7f7;

  @media (min-width: 1000px) {
    text-align: left;
    margin-left: 0;
  }
}

.product__title-desc {
  width: 100%;
  align-self: flex-start;
  line-height: 30px;
  font-size: 22px;
  font-weight: 600;
  margin: 0 auto;
  margin-top: 0;
  margin-bottom: 20px;
  color: $black;

  @media (min-width: 1000px) {
    width: 100%;
  }
}

.product__desc {
  width: 100%;
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: 1000px) {
    width: 70%;
  }
}