.product {
  width: 100%;
  text-align: center;
  padding-top: 70px;
  padding-bottom: 100px;
  background-color: $light-bg;
}

.product__slider {
  position: relative;
}

// .product__list {
//   // padding: 0;
//   // margin: 0;
//   // list-style: none;
//   // align-items: center;
//   // justify-content: center;
// }

.product__title {
  max-width: 60%;
  font-family: $font-accent;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  margin: 0 auto;
  margin-bottom: 50px;
  color: $blue-black;
}

.product__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.product__item-content {
  width: 185px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.product__img {
  margin: 0;
  padding: 0;
  width: auto;
  height: 260px;
  text-align: center;
  margin-bottom: 3px;
  overflow: hidden;

  img {
    height: 100%;
    width: auto;
  }
}

.product__mark {
  @include btn;
  margin: 0 auto;
  width: 100%;
  max-width: 185px;
  font-weight: 400;
}

.product__mark--available {
  background-color: $green;
}

.product__mark--inavailable-gray {
  background-color: #5e5e5e;
}

.product__mark--inavailable-orange {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  background-color: #ffb81c;
  color: #000;
}

.product__item.aviable {
  .product__mark--inavailable-gray,
  .product__mark--inavailable-orange {
    display: none;
  }
}

.product__item.inaviable {
  .product__mark--available {
    display: none;
  }
}

.product__arrows {
  position: absolute;
  top: 38%;
  transform: translate(-50%, -50%);
  left: 50%;
  width: 300px;
  height: auto;
  @media (min-width: 370px) {
    width: 320px;
  }
}

.product__arrow {
  @include arrow;

  &--left {
    transform: rotate(0)
  }

  &--right {
    transform: rotate(180deg)
  }

  top: 0;
}

.product__arrow--left {
  left: 0;
}

.product__arrow--right {
  right: 0;
}

@media(min-width: 670px) {
  .product__wrap {
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 70px;
    padding-right: 70px;
    position: relative;
  }

  .product__slider {
    max-width: 1070px;
    margin: 0 auto;
    position: static;
  }

  .product__arrows {
    height: 50px;
    width: 100%;
    max-width: 1240px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media(min-width: $tablet-width) {
  .product__wrap {
    margin-left: 50px;
    margin-right: 50px;
  }
}