.promo-slider {
  @media (max-width: $tablet-width) {
    margin: 0;
  }
}
.promo-slider__slider {
  padding-top: 50px;
  margin-bottom: 50px;
}

.promo-slider__glide {
  position: relative;
}

.promo-slider__arrows {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 100%;
  height: auto;
}

.promo-slider__arrow {
  @include arrow;

  &--left {
    transform: rotate(0)
  }

  &--right {
    transform: rotate(180deg)
  }

  top: 0;
}

.promo-slider__arrow--left {
  left: 25px;
}

.promo-slider__arrow--right {
  right: 25px;
}

.promo-slider__item {
  width: 294px;
  text-align: center;

  img {
    width: 100%;
    height: auto;
  }
}

.promo-slider__media {
  padding: 0;
  max-width: 320px;
  margin: 0 auto;
}

.promo-slider__desc-wrap {
  max-width: 450px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 50px;
  margin: 0 auto;
  text-align: center;
}

.promo-slider__desc-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.promo-slider__desc-item {
  display: none;
  opacity: 0;
  margin-bottom: 50px;

  &.active {
    display: block;
    opacity: 1;
  }
}

.promo-slider__title {
  font-family: $font-accent;
  font-size: 24px;
  line-height: 24px;
  color: $blue-dark;
}

@media(min-width:$tablet-width) {
  .promo-slider {
    display: flex;
    width: 100%;
    max-width: 1240px;
    justify-content: space-between;
  }

  .promo-slider__media {
    width: 75%;
    max-width: 345px;
  }

  .promo-slider__slider {
    width: 45%;
  }

  .promo-slider__arrow--left {
    left: 0;
  }
  
  .promo-slider__arrow--right {
    right: 0;
  }

  .promo-slider__desc-wrap {
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .promo-slider__desc-list {
    width: 100%;
    max-width: 440px;
    
  }

  .promo-slider__desc-item{
    display: block;
    opacity: 1;
  }
}