.additional__main-wrap.wrap
  h2(class="visually-hidden") information supplémentaire
  div(class="additional__wrap")
    h3(class="additional__title") Idéal pour les étudiants
    p(class="additional__desc") Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
  div(class="additional__wrap")
    h3(class="additional__title") Un autre point très important à dire
    p(class="additional__desc") Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?