div(class="wrap")
  h2(class="advantage__title") Pearson c’est
  ul(class="advantage__list")
    li(class="advantage__item")
      span(class="advantage__num") 3,456
      h3(class="advantage__title-desc") Ouvrages HE & Business
      p(class="advantage__desc") en toutes les matières économie, gestion, sciences, comptabilité, etc.
    li(class="advantage__item")
      span(class="advantage__num") 100k
      h3(class="advantage__title-desc") Ressources numérques
      p(class="advantage__desc") en toutes les matières économie, gestion, sciences, comptabilité, etc.
    li(class="advantage__item")
      span(class="advantage__num") 30,456
      h3(class="advantage__title-desc") Etudiants connectés
      p(class="advantage__desc") en toutes les matières économie, gestion, sciences, comptabilité, etc.
    li(class="advantage__item")
      span(class="advantage__num") 3,456
      h3(class="advantage__title-desc") Information clée
      p(class="advantage__desc") en toutes les matières économie, gestion, sciences, comptabilité, etc.
    li(class="advantage__item")
      span(class="advantage__num") 100k
      h3(class="advantage__title-desc") Solutions sur-mesures
      p(class="advantage__desc") en toutes les matières économie, gestion, sciences, comptabilité, etc.
    li(class="advantage__item")
      span(class="advantage__num") 30,456
      h3(class="advantage__title-desc") Produits numériques
      p(class="advantage__desc") en toutes les matières économie, gestion, sciences, comptabilité, etc.