div(class="wrap")
  div(class="glide")
    div(class="glide__track" data-glide-el="track")
      ul(class="content-slider__list glide__slides")
        li(class="content-slider__item glide__slide")
          a(class="content-slider__article" href="content.html")
            img(src="img/home-page/content-1.jpg" alt="Content 1")
            div(class="content-slider__wrap-desc")
              h2(class="content-slider__title") Content 1
              p(class="content-slider__desc") Texte intégral de l'ouvrage toujours disponible sur tous les supports, online et offline, pour une lecture approfondie
              a(class="content-slider__link" href="content.html") En savoir plus
        li(class="content-slider__item glide__slide")
          a(class="content-slider__article" href="content.html")
            img(src="img/home-page/content-2.jpg" alt="Content 2")
            div(class="content-slider__wrap-desc")
              h2(class="content-slider__title") Content 2
              p(class="content-slider__desc") Texte intégral de l'ouvrage toujours disponible sur tous les supports, online et offline, pour une lecture approfondie
              a(class="content-slider__link" href="content.html") En savoir plus
        li(class="content-slider__item glide__slide")
          a(class="content-slider__article" href="content.html")
            img(src="img/home-page/content-3.jpg" alt="Content 3")
            div(class="content-slider__wrap-desc")
              h2(class="content-slider__title") Content 3
              p(class="content-slider__desc") Texte intégral de l'ouvrage toujours disponible sur tous les supports, online et offline, pour une lecture approfondie
              a(class="content-slider__link" href="content.html") En savoir plus
        li(class="content-slider__item glide__slide")
          a(class="content-slider__article" href="content.html")
            img(src="img/home-page/content-3.jpg" alt="Content 3")
            div(class="content-slider__wrap-desc")
              h2(class="content-slider__title") Content 3
              p(class="content-slider__desc") Texte intégral de l'ouvrage toujours disponible sur tous les supports, online et offline, pour une lecture approfondie
              a(class="content-slider__link" href="content.html") En savoir plus
      div(class="content-slider__wrap-pointer glide__bullets" data-glide-el="controls[nav]")
        button(class="content-slider__pointer glide__bullet" data-glide-dir="=0")
        button(class="content-slider__pointer glide__bullet" type="button" data-glide-dir="=1")
        button(class="content-slider__pointer glide__bullet" type="button" data-glide-dir="=2")
        button(class="content-slider__pointer glide__bullet" type="button" data-glide-dir="=3")
    