footer.footer
  div.wrap
    div.footer__wrap
      a.footer__logo(href="index.html")
        img(src="img/fictional-elephant-logo.png" width="187" alt="fictional elephant logo")
    div.footer__info
      a.footer__info-item(href="https://spb.hh.ru/resume/c7c2cdd8ff076a0f5e0039ed1f6f707379314e") HeadHunter
      a.footer__info-item(href="https://github.com/MYiLA") GitHub
      a.footer__info-item(href="https://t.me/MYiLA") Telegram
