footer(class="footer")
  div(class="wrap")
    div(class="footer__wrap")
      a(class="footer__logo" href="index.html")
        img(src="img/pearson-logo.png" width="187" alt="logo Pearson")
    div(class="footer__info")
      a(class="footer__info-item" href="https://spb.hh.ru/resume/c7c2cdd8ff076a0f5e0039ed1f6f707379314e") HeadHunter
      a(class="footer__info-item" href="https://github.com/MYiLA") GitHub
      a(class="footer__info-item" href="https://t.me/MYiLA") Telegram
