footer(class="footer")
  div(class="wrap")
    div(class="footer__wrap")
      a(class="footer__logo" href="index.html")
        img(src="img/pearson-logo.png" width="187" alt="logo Pearson")
      ul(class="footer__contacts contacts")
        li(class="contacts__item")
          a(class="contacts__link contacts__link--instagram" href="#")
            img(src="img/icon-instagram.png" width="41" alt="instagram")
        li(class="contacts__item")
          a(class="contacts__link contacts__link--facebook" href="#")
            img(src="img/icon-facebook.svg" width="41" alt="facebook")
        li(class="contacts__item")
          a(class="contacts__link contacts__link--twitter" href="#")
            img(src="img/icon-twitter.svg" width="41" alt="twitter")
        li(class="contacts__item")
          a(class="contacts__link contacts__link--linkedin" href="#")
            img(src="img/icon-linkedin.svg" width="41" alt="linkedin")
    div(class="footer__info")
      a(class="footer__info-item" href="#") Sécurité des données
      a(class="footer__info-item" href="https://www.pearson.fr/") Pearson.fr
      a(class="footer__info-item" href="#") Coockies
