div(class="form form--contact form--close")
  div(class="form__wrap")
    h2(class="form__title") Laissez vos coordonnées
    p(class="form__desc form__desc--video") Et accéder à la vidéo de démonstration du FastTrack eBook
    p(class="form__desc form__desc--contact") Nous vous contacterons pour 
    form(class="form__form" action="POST" autocomplete="off")
      label(class="visually-hidden" for="form-name") Votre Nom
      input(class="invalid" type="text" id="form-name" name="name" placeholder="Votre Nom")
      
      label(class="visually-hidden" for="form-tel") Votre Prénom
      input(type="text" id="form-surname" name="surname" placeholder="Votre Prénom")
      
      label(class="visually-hidden" for="form-mail") Votre adresse mail
      input(type="email" id="form-mail" name="mail" placeholder="Votre adresse mail")
      
      label(class="visually-hidden" for="form-tel") Votre numero de telephone
      input(type="tel" id="form-tel" name="tel" placeholder="Votre numero de telephone")
      
      label(class="visually-hidden" for="form-company") Votre etablissement
      input(type="text" id="form-company" name="company" placeholder="Votre etablissement")
      
      button(class="form__submit" type="submit") Visionner la video

      input(class="form__privacy-checkbox visually-hidden" type="checkbox" id="privacy" name="data-processing" checked)
      label(class="form__privacy" for="privacy") En cliquant sur “visionner la video” je suis d’accord pour tout ce qui est utilisation de mes donnees, etcetera et etecetera. Je suis absolument d’accord avec Pearson sur tout et pour toujours.
    button(class="form__close" type="button" aria-label="close window")