header
  div(class="header")
    nav(class="header__main-nav main-nav main-nav--close")
      div(class="main-nav__wrap")
        div(class="wrap")
          a(class="main-nav__logo" href="index.html")
            img(src="img/pearson-logo.png" width="159" alt="Pearson logo")
