header
  div(class="header")

    nav(class="header__main-nav")
      div(class="header__wrap")
        div(class="wrap")
          a(class="header__logo" href="index.html")
            img(src="img/fictional-elephant-logo.png" width="159" alt="fictional elephant logo")
