header
  .header
    nav(class="header__main-nav main-nav main-nav--close")
      div(class="main-nav__bookmark-wrap")
        div(class="wrap")
          ul(class="main-nav__bookmark-list")
            li(class="main-nav__bookmark-item main-nav__bookmark-item--superieur active")
              button(class="main-nav__bookmark" type="button") Enseignement superieur
            li(class="main-nav__bookmark-item main-nav__bookmark-item--etrangere" data-bookmark="etrangere")
              button(class="main-nav__bookmark" type="button") Anglais langue etrangere
          address(class="main-nav__address")
            a(class="main-nav__tel" href="tel:+33 (0) 1 23 32 12 23") +33 (0) 1 23 32 12 23
      div(class="main-nav__wrap")
        div(class="wrap")
          a(class="main-nav__logo" href="index.html")
              img(src="img/pearson-logo.png" width="159" alt="Pearson logo")
          button(class="main-nav__burger" type="button" aria-label="open menu")
          div(class="main-nav__wrap-popup")
            div(class="main-nav__main-nav")
              ul(class="main-nav__list")
                li(class="main-nav__item")
                  a(class="main-nav__link" href="#") L’offre
                li(class="main-nav__item")
                  a(class="main-nav__link" href="#") Aide & Service client
                li(class="main-nav__item")
                  a(class="main-nav__link" href="#") A propos
              button(class="main-nav__contact" type="button") Nous contacter
              button(class="main-nav__close" type="button" aria-label="close menu")