header
  div.header

    nav.header__main-nav
      div.header__wrap
        div.wrap
          a.header__logo(href="index.html")
            img(src="img/fictional-elephant-logo.png" width="159" alt="fictional elephant logo")
