p(class="important__message important__message--content") Lorem ipsum dolor sit amet. Contenu important à mettre en avant pour capter l’attention.
p(class="important__message important__message--landing") J'ai besoin de maîtriser et de réviser rapidement les concepts clés sur un sujet