ul(class="infographics__list wrap")
  li(class="infographics__item")
    h3(class="infographics__title") Lorem ipsum
    p(class="infographics__desc") Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium 
  li(class="infographics__item")
    h3(class="infographics__title") Lorem ipsum
    p(class="infographics__desc") Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium 
  li(class="infographics__item")
    h3(class="infographics__title") Lorem ipsum
    p(class="infographics__desc") Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium 
  li(class="infographics__item")
    h3(class="infographics__title") Lorem ipsum
    p(class="infographics__desc") Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium 
