div(class="landing-media__wrap wrap")
  h2(class="landing-media__title") Regarder une vidéo de démonstration
  div(class="landing-media__wrap-video")
    button(class="landing-media__play-btn" type="button" aria-label="play or stop video")
    video(class="landing-media__video" poster="img/landing/landing-media.png") Элемент video не поддерживается вашим браузером. 
      //- source(src="video/test.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"')
  p(class="landing-media__desc") Paragraphe. Texte intégral de l'ouvrage toujours disponible surParagraphe. Texte intégral de l'ouvrage toujours disponible sur
  button(class="landing-media__btn" type="button") Viosnner la video