div(class="landing-promo__wrap landing-promo__wrap--landing")
  div(class="wheel-promo__tooltip") Réviser un chapitre en 45 minutes !
  h1(class="landing-promo__title") Fast Track eBooks
  p(class="landing-promo__desc") Texte intégral de l'ouvrage toujours disponible sur tous les supports, online et offline, pour une lecture approfondie
  div(class="landing-promo__wrap-buttons")
    a(class="landing-promo__btn landing-promo__btn--blue landing-promo__btn--form-1" href="#") Aller plus loin
    button(class="landing-promo__btn landing-promo__btn--green landing-promo__btn--video" type="button") Voir la demo
div(class="landing-promo__wrap landing-promo__wrap--homo")
  h2(class="landing-promo__title") Trouvons ensemble la #[em(class="landing-promo__highlight") solution] parfaite pour vous
  div(class="landing-promo__wrap-buttons")
    button(class="landing-promo__btn landing-promo__btn--blue landing-promo__btn--form-2" type="button") Contactez-nous
    a(class="landing-promo__btn landing-promo__btn--green" href="#") Aller plus loin
div(class="landing-promo__wheel wheel-promo wheel-promo--superieur active")
  ul(class="wheel-promo__list")
    li(class="wheel-promo__item")
      a(class="wheel-promo__link" href="landing.html") Simulations
      div(class="wheel-promo__tooltip") Réviser un chapitre en 45 minutes !
    li(class="wheel-promo__item")
      a(class="wheel-promo__link" href="landing.html") Les Apps
      div(class="wheel-promo__tooltip") Réviser un chapitre en 45 minutes !
    li(class="wheel-promo__item")
      a(class="wheel-promo__link" href="landing.html") FastTrack eBooks
      div(class="wheel-promo__tooltip") Réviser un chapitre en 45 minutes !
    li(class="wheel-promo__item")
      a(class="wheel-promo__link" href="landing.html") Sur Mesure
      div(class="wheel-promo__tooltip") Réviser un chapitre en 45 minutes !
    li(class="wheel-promo__item")
      a(class="wheel-promo__link" href="landing.html") Librairie Pearson
      div(class="wheel-promo__tooltip") Réviser un chapitre en 45 minutes !
    li(class="wheel-promo__item active")
      a(class="wheel-promo__link" href="landing.html") MyLabs
      div(class="wheel-promo__tooltip") Réviser un chapitre en 45 minutes !
div(class="landing-promo__wheel wheel-promo wheel-promo--etrangere")
  ul(class="wheel-promo__list")
    li(class="wheel-promo__item")
        a(class="wheel-promo__link" href="landing.html") Les Apps
        div(class="wheel-promo__tooltip") Réviser un chapitre en 45 minutes !
    li(class="wheel-promo__item")
      a(class="wheel-promo__link" href="landing.html") Sur Mesure
      div(class="wheel-promo__tooltip") Réviser un chapitre en 45 minutes !
    li(class="wheel-promo__item")
        a(class="wheel-promo__link" href="landing.html") Les Apps
        div(class="wheel-promo__tooltip") Réviser un chapitre en 45 minutes !
    li(class="wheel-promo__item")
      a(class="wheel-promo__link" href="landing.html") Sur Mesure
      div(class="wheel-promo__tooltip") Réviser un chapitre en 45 minutes !
    li(class="wheel-promo__item")
      a(class="wheel-promo__link" href="landing.html") MyLabs
      div(class="wheel-promo__tooltip") Réviser un chapitre en 45 minutes !
    li(class="wheel-promo__item")
      a(class="wheel-promo__link" href="landing.html") Simulations
      div(class="wheel-promo__tooltip") Réviser un chapitre en 45 minutes !
    li(class="wheel-promo__item")
      a(class="wheel-promo__link" href="landing.html") New landing
      div(class="wheel-promo__tooltip") Réviser un chapitre en 45 minutes !
    li(class="wheel-promo__item")
      a(class="wheel-promo__link" href="landing.html") New landing 2
      div(class="wheel-promo__tooltip") Réviser un chapitre en 45 minutes !
