div(class="popup-video popup-video--close")
  div(class="popup-video__wrap")
    button(class="popup-video__play" type="button" aria-label="play or stop video")
    video(class="popup-video__video" poster="img/content/content-media-mobile.png") Элемент video не поддерживается вашим браузером. 
      //- source(src="video/test.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"')
    button(class="popup-video__close" type="button" aria-label="close window")
    