div.wrap
  h2.product__title Покупайте наши товары!
  div.product__filter-buttons
    button.product__filter-btn.active(data-order="none") Отменить сортировку
    button.product__filter-btn(data-order="asc") Сначала дешевые
    button.product__filter-btn(data-order="desc") Сначала дорогие
  ul.product__list
    li.product__item
      span.product__num 50$
      h3.product__title-desc Товар 1
      p.product__desc  Разнообразный и богатый опыт укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании модели развития.
    li.product__item
      span.product__num 60$
      h3.product__title-desc Товар 2
      p.product__desc Повседневная практика показывает, что начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке существенных финансовых и административных условий.
    li.product__item
      span.product__num 570$
      h3.product__title-desc Товар 3
      p.product__desc Равным образом новая модель организационной деятельности позволяет оценить значение системы обучения кадров, соответствует насущным потребностям.
    li.product__item
      span.product__num 30$
      h3.product__title-desc Товар 4
      p.product__desc Разнообразный и богатый опыт консультация с широким активом позволяет выполнять важные задания по разработке позиций, занимаемых участниками в отношении поставленных задач.
    li.product__item
      span.product__num 250$
      h3.product__title-desc Товар 5
      p.product__desc Не следует, однако забывать, что укрепление и развитие структуры позволяет выполнять важные задания по разработке новых предложений.
    li.product__item
      span.product__num 150$
      h3.product__title-desc Товар 6
      p.product__desc Задача организации, в особенности же реализация намеченных плановых заданий требуют определения и уточнения систем массового участия.
    li.product__item
      span.product__num 10$
      h3.product__title-desc Товар 7
      p.product__desc Разнообразный и богатый опыт консультация с широким активом позволяет выполнять важные задания по разработке позиций, занимаемых участниками в отношении поставленных задач.
    li.product__item
      span.product__num 780$
      h3.product__title-desc Товар 8
      p.product__desc Не следует, однако забывать, что укрепление и развитие структуры позволяет выполнять важные задания по разработке новых предложений.
    li.product__item
      span.product__num 1150$
      h3.product__title-desc Товар 9
      p.product__desc Задача организации, в особенности же реализация намеченных плановых заданий требуют определения и уточнения систем массового участия.