div(class="wrap")
  h2(class="product__title") Покупайте наши товары!
  div(class="product__filter-buttons")
    button(class="product__filter-btn active") Отменить сортировку
    button(class="product__filter-btn") Сначала дешевые
    button(class="product__filter-btn") Сначала дорогие
  ul(class="product__list")
    li(class="product__item")
      span(class="product__num") 50$
      h3(class="product__title-desc") Товар 1
      p(class="product__desc")  Разнообразный и богатый опыт укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании модели развития.
    li(class="product__item")
      span(class="product__num") 60$
      h3(class="product__title-desc") Товар 2
      p(class="product__desc") Повседневная практика показывает, что начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке существенных финансовых и административных условий.
    li(class="product__item")
      span(class="product__num") 570$
      h3(class="product__title-desc") Товар 3
      p(class="product__desc") Равным образом новая модель организационной деятельности позволяет оценить значение системы обучения кадров, соответствует насущным потребностям.
    li(class="product__item")
      span(class="product__num") 30$
      h3(class="product__title-desc") Товар 4
      p(class="product__desc") Разнообразный и богатый опыт консультация с широким активом позволяет выполнять важные задания по разработке позиций, занимаемых участниками в отношении поставленных задач.
    li(class="product__item")
      span(class="product__num") 250$
      h3(class="product__title-desc") Товар 5
      p(class="product__desc") Не следует, однако забывать, что укрепление и развитие структуры позволяет выполнять важные задания по разработке новых предложений.
    li(class="product__item")
      span(class="product__num") 150$
      h3(class="product__title-desc") Товар 6
      p(class="product__desc") Задача организации, в особенности же реализация намеченных плановых заданий требуют определения и уточнения систем массового участия.
    li(class="product__item")
      span(class="product__num") 10$
      h3(class="product__title-desc") Товар 7
      p(class="product__desc") Разнообразный и богатый опыт консультация с широким активом позволяет выполнять важные задания по разработке позиций, занимаемых участниками в отношении поставленных задач.
    li(class="product__item")
      span(class="product__num") 780$
      h3(class="product__title-desc") Товар 8
      p(class="product__desc") Не следует, однако забывать, что укрепление и развитие структуры позволяет выполнять важные задания по разработке новых предложений.
    li(class="product__item")
      span(class="product__num") 1150$
      h3(class="product__title-desc") Товар 9
      p(class="product__desc") Задача организации, в особенности же реализация намеченных плановых заданий требуют определения и уточнения систем массового участия.