h2(class="product__title") Nos titres en FastTrack
div(class="product__wrap")
  div(class="product__slider")
    div(class="glide__track" data-glide-el="track")
      ul(class="product__list glide__slides")
        li(class="product__item glide__slide aviable")
          .product__item-content
            figure(class="product__img")
              img(src="img/landing/product-marketing.png" width="185" alt="product-test")
            a(class="product__mark product__mark--available" href="#") Acheter
            span(class="product__mark product__mark--inavailable-gray") Bientot disponible
            span(class="product__mark product__mark--inavailable-orange") Bientot disponible
        li(class="product__item glide__slide aviable")
          .product__item-content
            figure(class="product__img")
              img(src="img/landing/product-principes.png" width="185" alt="product-test")
            a(class="product__mark product__mark--available" href="#") Acheter
            span(class="product__mark product__mark--inavailable-gray") Bientot disponible
            span(class="product__mark product__mark--inavailable-orange") Bientot disponible
        li(class="product__item glide__slide inaviable")
          .product__item-content
            figure(class="product__img")
              img(src="img/landing/product-management.png" width="185" alt="product-test")
            a(class="product__mark product__mark--available" href="#") Acheter
            span(class="product__mark product__mark--inavailable-gray") Bientot disponible
            span(class="product__mark product__mark--inavailable-orange") Bientot disponible
        li(class="product__item glide__slide inaviable")
          .product__item-content
            figure(class="product__img")
              img(src="img/landing/product-strategique.png" width="185" alt="product-test")
            a(class="product__mark product__mark--available" href="#") Acheter
            span(class="product__mark product__mark--inavailable-gray") Bientot disponible
            span(class="product__mark product__mark--inavailable-orange") Bientot disponible
    div(class="product__arrows glide__arrows" data-glide-el="controls")
      button(class="product__arrow product__arrow--left glide__arrow glide__arrow--left" data-glide-dir="<")
      button(class="product__arrow product__arrow--right glide__arrow glide__arrow--right" data-glide-dir=">")
