h2(class="visually-hidden" ) matériel clé sur le sujet
div(class="promo-slider__slider" )
  div(class="promo-slider__glide")
    div(class="promo-slider__track glide__track" data-glide-el="track")
      ul(class="glide__slides")
        li(class="promo-slider__item glide__slide")
          figure(class="promo-slider__media")
            img(src="img/landing/temp-slider-promo.png" alt="slider-test")
        li(class="promo-slider__item glide__slide")
          figure(class="promo-slider__media")
            img(src="img/landing/temp-slider-promo.png" alt="slider-test")
        li(class="promo-slider__item glide__slide")
          figure(class="promo-slider__media")
            img(src="img/landing/temp-slider-promo.png" alt="slider-test")
    div(class="promo-slider__arrows glide__arrows" data-glide-el="controls")
      button(class="promo-slider__arrow promo-slider__arrow--left glide__arrow glide__arrow--left" type="button" data-glide-dir="<")
      button(class="promo-slider__arrow promo-slider__arrow--right glide__arrow glide__arrow--right" type="button" data-glide-dir=">")
div(class="promo-slider__desc-wrap" )
  ul(class="promo-slider__desc-list" )
    li(class="promo-slider__desc-item active" )
      h3(class="promo-slider__title") Point 1
      p(class="promo-slider__desc") Paragraphe. Texte intégral de l'ouvrage toujours disponible surParagraphe. Texte intégral de l'ouvrage toujours disponible sur
    li(class="promo-slider__desc-item")
      h3(class="promo-slider__title") Point 2
      p(class="promo-slider__desc") Paragraphe. Texte intégral de l'ouvrage toujours disponible surParagraphe. Texte intégral de l'ouvrage toujours disponible sur
    li(class="promo-slider__desc-item")
      h3(class="promo-slider__title") Point 3
      p(class="promo-slider__desc") Paragraphe. Texte intégral de l'ouvrage toujours disponible surParagraphe. Texte intégral de l'ouvrage toujours disponible sur
