div(class="provoke__item provoke__item--external wrap")
  p(class="provoke__text") A call-to-action block. Click me now:
  a(class="provoke__link" href="#") External link
div(class="provoke__item provoke__item--video wrap")
  p(class="provoke__text") Découvrez plus de détail avec notre vidéo de démonstration
  button(class="provoke__link provoke__link--video" type="button") Voir la demo
div(class="provoke__item provoke__item--contact wrap")
  p(class="provoke__text") Découvrez notre offre maintenant
  button(class="provoke__link provoke__link--form" type="button") Contactez-nous