$font-main: "OpensSans","Arial", sans-serif;
$font-accent: "PlayfairDisplay","Times New Roman", serif;
$mobile-width: 320px;
$tablet-width: 900px;
$desktop-width: 1200px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$main-bg: #e5e5e5;
$light-bg: #f9f9f9;
$dark-bg: #eaeaea;
$blue-light: #d5eae4;
$blue-dark: #007fa3;
$blue-black: #003057;
$green: #12b2a6;
$text-light: #c5c5c5;
$red: #ea067e;

